@model List<Modelo.CATEGORIA>
@{
    ViewBag.Title = "Listar Categorias";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@(m.IDCATEGORIA)</td>
                    <td>@(m.NOMBRE)</td>
                    <td>@(m.DESCRIPCION)</td>
                    <td>@(m.ESTADO == "A" ? "Activo" : "Inactivo")</td>
                    <td><a href="~/Home/TDCategoria/@m.IDCATEGORIA" class="btn btn-warning">Detalle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>