
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lab 11 - Chirinos - @ViewBag.Title</title>


    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand(Marca) and toggle(Nav) get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index" class="navbar-brand">Lab 11 Rodrigo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Home/TVCategoria">Categoria</a></li>
                    <li><a href="~/Home/TVProducto">Producto</a></li>
                    <li><a href="~/Home/TVPedido">Pedido</a></li>
                    <li><a href="~/Home/TVDetallePedido">Detalle Pedido</a></li>
                    <li><a href="~/Home/TVUsuario">Usuario</a></li>
                    <li><a href="~/Home/TVTipoUsuario">Tipo Usuario</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <main>
        <div class="page-header">
            <div class="container">
                <br />
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>
    </main>

    <script src="~/assets/js/jquery-1.12.3.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>
