<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lab11-chirinos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lab11-chirinos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lab11-chirinos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lab11-chirinos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="db_ventas" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rlx8xo24rh.database.windows.net,1433;Initial Catalog=db_ventas;User ID=rodrigo@rlx8xo24rh;Password=Ro6drigo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Modelo.db_ventas, Modelo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db_ventas-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rlx8xo24rh.database.windows.net,1433;Initial Catalog=db_ventas;User ID=rodrigo@rlx8xo24rh;Password=Ro6drigo</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>